<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstarb -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- bootstrab end -->


    <!-- google fonts  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Montserrat&display=swap" rel="stylesheet">
    <!-- google fonts end -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Sana Al-Amar</title>
</head>

<body>

    <!-- header with wave -->
    <div class="wave-header">
        <!-- header -->
        <header>
            <div class="logo">Sana Al-Amar</div>
            <nav>
                <ul class="nav">
                    <li class="nav-content"><a href="../index.html" class="clicked">Home</a></li>
                    <li class="nav-content"><a href="../about_us.html">About Us</a></li>
                    <li class="nav-content"><a href="../projects.html">Projects</a></li>
                    <li class="nav-content"><a href="#">Links</a></li>
                    <li class="nav-content"><a href="#">Contact Us</a></li>
                </ul>

            </nav>
        </header>

        <!-- wave  -->
        <!-- <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.99 C276.75,238.13 193.23,-122.06 500.00,49.99 L517.72,157.20 L0.00,150.00 Z"
                    style="stroke: none; fill: #f7fdff;"></path>
            </svg></div> -->
        <!--end wave  -->
        <div class="header-image">
            <div id="image-oil-gas-piplines"></div>
        </div>
    </div>

    <!-- end header with wave -->

    <!-- <div class="my-btn no">
    <a href="#" class="my-btn">LINKS
        <div class="anime-div"></div>
    </a>
</div> -->

    <!-- content -->
    <div class="about-us">

        <div class="about-us-content">
            <h1 class="about-us-title">Commissioning & Start-Up</h1>
            <div class="title-line"></div>
            <h5>Sana Al-Amar Company has extensive In-house experience in all of business areas.
            This includes:</h5>
            <div class="last-content">
                <ul>
                    <li>Pre-commissioning plans, procedures, schedule, and sequences</li>
                    <li>Air and water hydrostatically tests for pipes, tanks, and pipelines</li>
                    <li>Nitrogen filling process for gas pipelines and stations projects
                    </li>
                    <li>Simulations for process different cases, loop & signals check lists</li>
                    <li>Commissioning & Start-up plans, procedures, and sequences</li>
                    <li>Applying project potential Emergency Shut Down cases "ESD"</li>
                    <li>Final modifications prior of AS-BUILT drawings issuance</li>
                    <li>Initial & official start-up, handover of the project</li>
                </ul>
            </div>
        </div>
        <div class="every-page-links">
            <div class="links-box">
                <h1 class="every-page-links-title">Our Profile</h1>
                <ul class="links">
                    <li>
                        <a href="" class="every-page-links-links">Who is SANA AL-AMAR</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Mission Statement</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Vision Statement</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Quality & Safty Policy</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">HSE Policy</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Power Generation</a>
                    </li>
                </ul>
            </div>
            <div class="links-box">
                <h1 class="every-page-links-title">Specialites</h1>
                <ul class="links">
                    <li>
                        <a href="" class="every-page-links-links">Oil & Gas Pipelines</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Tank Farms</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Fiscal Oil & Gas Metering Stations</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Gas Pressure Reduction & Metering Stations</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Crude Oil Gathering Stations</a>
                    </li>
                </ul>
            </div>
            <div class="links-box">
                <h1 class="every-page-links-title">Expertise</h1>
                <ul class="links">
                    <li>
                        <a href="" class="every-page-links-links">Basic & Detailed Design</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Procurement</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Construction</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Horizontal Drilling & Thrust Boring</a>
                    </li>
                    <li>
                        <a href="" class="every-page-links-links">Commissioning & Start-up</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <footer>
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.99 C150.00,150.00 271.49,-49.99 500.00,49.99 L500.00,0.00 L0.00,0.00 Z"
                    style="stroke: none; fill: #f7fdff;"></path>
            </svg></div>

        <div class="footer">
            <h3 class="footer-title">GET IN TOUCH</h3>
            <div class="footer-content">We Would Like to hear for you. If you want to find out more about Sana Al-Amar
                Company ( Oil & Gas ) Projects and
                Services for your Business, Call Now <br> <span class="phone-number">
                    <!-- phone icon -->
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
                    </svg>
                    +964 7802389798</span></div>
            <div class="social-media-icons">
                <a href="#" class="facebook-icon">
                    <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 408.788 408.788"
                        style="enable-background:new 0 0 408.788 408.788;" xml:space="preserve">
                        <path d="M353.701,0H55.087C24.665,0,0.002,24.662,0.002,55.085v298.616c0,30.423,24.662,55.085,55.085,55.085
                                        	h147.275l0.251-146.078h-37.951c-4.932,0-8.935-3.988-8.954-8.92l-0.182-47.087c-0.019-4.959,3.996-8.989,8.955-8.989h37.882
                                        	v-45.498c0-52.8,32.247-81.55,79.348-81.55h38.65c4.945,0,8.955,4.009,8.955,8.955v39.704c0,4.944-4.007,8.952-8.95,8.955
                                        	l-23.719,0.011c-25.615,0-30.575,12.172-30.575,30.035v39.389h56.285c5.363,0,9.524,4.683,8.892,10.009l-5.581,47.087
                                        	c-0.534,4.506-4.355,7.901-8.892,7.901h-50.453l-0.251,146.078h87.631c30.422,0,55.084-24.662,55.084-55.084V55.085
                                        	C408.786,24.662,384.124,0,353.701,0z" />
                    </svg>
                </a>
                <div class="twitter-icon">
                    <svg version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 455.731 455.731"
                        style="enable-background:new 0 0 455.731 455.731;">
                        <rect x="0" y="0" style="fill:#50ABF1;" width="455.731" height="455.731" />
                        <path style="fill:#FFFFFF;"
                            d="M60.377,337.822c30.33,19.236,66.308,30.368,104.875,30.368c108.349,0,196.18-87.841,196.18-196.18
                                        		c0-2.705-0.057-5.39-0.161-8.067c3.919-3.084,28.157-22.511,34.098-35c0,0-19.683,8.18-38.947,10.107
                                        		c-0.038,0-0.085,0.009-0.123,0.009c0,0,0.038-0.019,0.104-0.066c1.775-1.186,26.591-18.079,29.951-38.207
                                        		c0,0-13.922,7.431-33.415,13.932c-3.227,1.072-6.605,2.126-10.088,3.103c-12.565-13.41-30.425-21.78-50.25-21.78
                                        		c-38.027,0-68.841,30.805-68.841,68.803c0,5.362,0.617,10.581,1.784,15.592c-5.314-0.218-86.237-4.755-141.289-71.423
                                        		c0,0-32.902,44.917,19.607,91.105c0,0-15.962-0.636-29.733-8.864c0,0-5.058,54.416,54.407,68.329c0,0-11.701,4.432-30.368,1.272
                                        		c0,0,10.439,43.968,63.271,48.077c0,0-41.777,37.74-101.081,28.885L60.377,337.822z" />

                    </svg>
                </div>
                <a href="#" class="linkedin-icon">
                    <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 382 382"
                        style="enable-background:new 0 0 382 382;">
                        <path d="M347.445,0H34.555C15.471,0,0,15.471,0,34.555v312.889C0,366.529,15.471,382,34.555,382h312.889
                                        	C366.529,382,382,366.529,382,347.444V34.555C382,15.471,366.529,0,347.445,0z M118.207,329.844c0,5.554-4.502,10.056-10.056,10.056
                                        	H65.345c-5.554,0-10.056-4.502-10.056-10.056V150.403c0-5.554,4.502-10.056,10.056-10.056h42.806
                                        	c5.554,0,10.056,4.502,10.056,10.056V329.844z M86.748,123.432c-22.459,0-40.666-18.207-40.666-40.666S64.289,42.1,86.748,42.1
                                        	s40.666,18.207,40.666,40.666S109.208,123.432,86.748,123.432z M341.91,330.654c0,5.106-4.14,9.246-9.246,9.246H286.73
                                        	c-5.106,0-9.246-4.14-9.246-9.246v-84.168c0-12.556,3.683-55.021-32.813-55.021c-28.309,0-34.051,29.066-35.204,42.11v97.079
                                        	c0,5.106-4.139,9.246-9.246,9.246h-44.426c-5.106,0-9.246-4.14-9.246-9.246V149.593c0-5.106,4.14-9.246,9.246-9.246h44.426
                                        	c5.106,0,9.246,4.14,9.246,9.246v15.655c10.497-15.753,26.097-27.912,59.312-27.912c73.552,0,73.131,68.716,73.131,106.472
                                        	L341.91,330.654L341.91,330.654z" />
                    </svg>

                </a>
            </div>
            <div class="footer-nav">
                <ul class="footer-nav-ul">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about_us.html">About Us</a></li>
                    <li><a href="./projects.html">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Links</a></li>
                </ul>
            </div>
            <div class="copy-right">Copyright © 2015 SANA AL-AMAR COMPANY. All Right Reserved.</div>
        </div>
    </footer>
    <!-- <div class="my-btn no">
        <a href="#" class="my-btn">LINKS
            <div class="anime-div"></div>
        </a>
    </div> -->


    <!-- svg -->
    <!-- <div style="height: 300px; overflow: hidden;"><svg viewBox="0 0 500 300" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.99 C87.13,168.05 421.22,-11.54 500.00,49.99 L500.00,300.00 L0.00,300.00 Z"
                style="stroke: none; fill: #02182b;">
            </path>
        </svg></div> -->
    <!-- svg end -->



    <!-- bootstrab -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!-- bootstrab end -->
    <!-- my javascript -->
    <script src="../static/js/dynamic.js"></script>
    <!-- end my javascript -->
</body>

</html>